{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}

    <!-- <h1>Clients</h1> -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <form method="POST" action="{% url 'search_client' %}">
            {% csrf_token %}
            <input type="text" class="form-control" name="search" placeholder="Search" style="width: 400px;"><br><br>
            
        </form>
    </div>
    
        <table class="table table-striped  table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Added</th>
          </tr>
        </thead>
        <tbody>
         <tr>

            {%if clients%} <!--in case there are clients -->
                {% for client in clients %} <!--loop through the clients -->
                    <tr>
                        <td>  <a href="{% url 'client' client.id %}">{{client.id}}</a>  </td>
                        <td>{{client.first_name}} {{client.last_name}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.city}}</td>
                        <td>{{client.address}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.created_at}}</td>
                    </tr>
                {% endfor %}
            {%endif%}


        </tr>
    </tbody>
  </table>
            
    
    
    {% else %}
    <!-- <div class="col md-6 offset-md-3"> -->
    <div>
    <h1>Log In</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            
            <input type="text" class="form-control" name="username" placeholder="Enter your username" required   style="width: 400px;">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter your password" name="password" required   style="width: 400px;">
        </div><br/>
        <button type="submit" name="action" value="signin" class="btn btn-primary">Log In</button>
    </form>
    </div>
    {% endif %}


{% endblock %}
