{% extends 'base.html' %}
{% block content %}

<h1>Search Results</h1>

{% if clients %}
        {% for client in clients %}
        <table class="table table-striped  table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Date Added</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                <td>  <a href="{% url 'client' client.id %}">{{client.id}}</a>  </td>
                <td>{{client.first_name}} {{client.last_name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.city}}</td>
                <td>{{client.address}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.created_at}}</td>
             </tr>
           </tbody>
        </table>
        {% endfor %}
{% else %}
    <p>No clients found for "{{ search_query }}".</p>
{% endif %}

{% endblock %}

